table.names-table {
  margin-top: 20px;

  tbody {
    tr {
      td.input-cell {
        padding: 0px;
        margin: 0px;

        input {
          padding: 5px;
          margin: 0;
          width: 100%;
          border: none;
        }
      }
    }
  }
}
