@import "pod-styles";

.ember-list-view {
  overflow: auto;
  position: relative;
}
.ember-list-item-view {
  position: absolute;
}

.name-table {
  margin-top: 20px;
}

.cell {
  float: left;
  margin: 0;
  padding: 5px;
  height: 30px
}

.input-cell {
  border: 1px solid #CCC;
}

.cell-width-5 {
  width: 132px;
}

.cell-width-4 {
  width: 165px;
}

.cell-width-3 {
  width: 220px;
}

.cell-width-2 {
  width: 330px;
}

.cell-width-1 {
  width: 660px;
}

.index-cell {
  width: 48px;
  text-align: center;
  border: 1px solid #CCC;
}

.remove-link {
  width: 20px;
  text-align: center;
}

textarea.raw-list {
  margin-top: 20px;
  width: 100%;
}